<div class="container mt-4">
    <h2 class="text-muted mb-4">Empleados Nuevos</h2>
  
    <div class="mb-4 d-flex justify-content-between align-items-center">
      <div>
        <label for="fechaDesde" class="form-label">Desde:</label>
        <input type="date" id="fechaDesde" class="form-control d-inline" style="width: auto; display: inline-block;" [(ngModel)]="fechaDesde">
        <label for="fechaHasta" class="form-label ms-2">Hasta:</label>
        <input type="date" id="fechaHasta" class="form-control d-inline" style="width: auto; display: inline-block;" [(ngModel)]="fechaHasta">
        <button type="button" class="btn btn-primary ms-2" (click)="filtrarEmpleados()">Filtrar</button>
      </div>
      <button type="button" class="btn btn-success" (click)="generarReporte()">Generar Reporte</button>
    </div>
  
    <table class="table align-middle mb-0">
      <thead class="bg-light">
        <tr>
          <th>Nombre</th>
          <th>Salario</th>
          <th>Fecha de Entrada</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleadosFiltrados">
          <td>{{ empleado.nombre }}</td>
          <td>{{ empleado.salarioMensual }}</td>
          <td>{{ empleado.fechaIngreso | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  