<div class="container mt-4">
    <h2>Lista de Puestos</h2>
    <div class="row mb-3">
        <div class="col-md-4">
          <label for="nivelRiesgo">Filtrar por Nivel de Riesgo</label>
          <select class="form-select" id="nivelRiesgo" [(ngModel)]="filtroRiesgo" (change)="filtrarPuestosPorRiesgo()">
            <option value="">Todos</option>
            <option value="Alto">Alto</option>
            <option value="Medio">Medio</option>
            <option value="Bajo">Bajo</option>
          </select>
        </div>
      </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let puesto of puestosList">
        <div class="card mb-4" [ngClass]="{'border-success': puesto.id === selectedPuestoId}">
          <div class="card-body">
            <h5 class="card-title">{{ puesto.nombre }}</h5>
            <p class="card-text">{{ puesto.nivelRiesgo }}</p>
            <p class="card-text">{{ puesto.nivelMinimoSalario }}</p>
            <p class="card-text">{{ puesto.nivelMaximoSalario }}</p>
            <button class="btn btn-primary btn-sm" (click)="selectPuesto(puesto.id)">
              {{ puesto.id === selectedPuestoId ? 'Deseleccionar' : 'Seleccionar' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  
    <button class="btn btn-success" (click)="solicitarPuesto()">Solicitar Puesto</button>
  </div>
  