<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                @if (usuario.rol === 'Empleado') {
                    <a routerLink="/puestos" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Dashboard</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a routerLink="/puestoscrearcomponent" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> 
                                <span class="ms-1 d-none d-sm-inline">Dashboard/Puestos</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/puestosvercomponent" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> 
                                <span class="ms-1 d-none d-sm-inline">Puestos</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/candidatos" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> 
                                <span class="ms-1 d-none d-sm-inline">Candidatos</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/competencias" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> 
                                <span class="ms-1 d-none d-sm-inline">Competencias</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/idiomas" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> 
                                <span class="ms-1 d-none d-sm-inline">Idiomas</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/empleados" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> 
                                <span class="ms-1 d-none d-sm-inline">Empleados</span> 
                            </a>
                        </li>
                    </ul>
                    <hr>
                } @else if(usuario.rol === 'Candidato') {
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a routerLink="/candidato-dashboard" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-5 d-none d-sm-inline">Dashboard Candidato</span>
                        </a>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a routerLink="/puestos" class="nav-link align-middle px-0">
                                    <i class="fs-4 bi-house"></i>
                                    <span class="ms-1 d-none d-sm-inline">Puestos</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/capacitaciones" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-table"></i>
                                    <span class="ms-1 d-none d-sm-inline">Capacitaciones</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/candidatoscrear" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-table"></i>
                                    <span class="ms-1 d-none d-sm-inline">Perfil</span>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/experiencia-laboralcrear" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-table"></i>
                                    <span class="ms-1 d-none d-sm-inline">Experiencia</span>
                                </a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                }
                <div class="dropdown pb-4">
                    <a href="/login" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ usuario.rol }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><hr class="dropdown-divider"></li>
                        <!-- Botón de Cerrar Sesión -->
                        <li>
                            <button class="dropdown-item" (click)="cerrarSesion()">Cerrar sesión</button>
                        </li>
                    </ul>
                </div>                

            </div>
        </div>

        <!-- Área de contenido dinámico -->
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
